<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>com.libin.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/libin</url-pattern>
    </servlet-mapping>

    <ejb-local-ref>
        <ejb-ref-name>ejb/Adder</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.libin.ejb.AdderLocal</local>
        <!--<ejb-link>ejb.jar#AdderImpl</ejb-link>-->
    </ejb-local-ref>

    <!--<ejb-local-ref>
        <ejb-ref-name>ejb/Multiplier</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.libin.ejb.MultiplierLocal</local>
        <ejb-link>ejb.jar#MultiplierImpl</ejb-link>
    </ejb-local-ref>-->


</web-app>